{% extends 'base.html.twig' %}

{% block title %}Un actor {% endblock %}

{% block body %}
<h1>{{ actor.nom }} {{ actor.prenom }} </h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="enregistrer">
{{ form_end(form) }}

{% endblock %}
