{% extends 'base.html.twig' %}

{% block title %}FORMULAIRE PROPRIETAIRE{% endblock %}

{% block body %}

<div class="container text-center" style="width: 25%;">

    {{ form_start(pform) }}

    <div class="form-group">
        {{ form_row(pform.prenom, {
            'attr': {'class': 'form-control form-control-sm'},
            'label': 'Prenom: '
        }) }}
    </div>

    <div class="form-group">
        {{ form_row(pform.nom, {
            'attr': {'class': 'form-control form-control-sm'},
            'label': 'Nom: '
        }) }}
    </div>

    <div class="form-group">
        {{ form_row(pform.photo, {
            'attr': {'class': 'form-control form-control-sm'},
            'label': 'Photo: '
        }) }}
    </div>

    {# <div class="form-group">
        {{ form_row(pform.possedes, {
            'attr': {'class': 'form-control form-control-sm'},
            'label': 'nombre: '
        }) }}
    </div>

    <div class="form-group">
        {{ form_row(pform.animaux, {
            'attr': {'class': 'form-control form-control-sm'},
            'label': 'nom: '
        }) }}
    </div> #}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(pform) }}

</div>

{% endblock %}
